.form-control {
    margin-bottom: 20px;
    width: 70%;
}

.txtArea {
    width: 50%;
}

.form-select {
    width: 20%;
    margin-bottom: 20px;
}

.container-md {
    background-color: blanchedalmond;
    border-radius: 3px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.display-2 {
    text-align: center;
    background-color: aquamarine;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60%;
}

.btn-success {
    width: 10%;
    font-size: 1.5rem;
}